<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/page.css">
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="alternate" type="application/atom+xml" title="CargoRocket Atom Feed" href="/feed.xml" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Alexandra Kapp, David Prenninger, Henri Chilla">

    <!-- Social Media -->
    <meta property="og:title" content="Cargorocket - Lastenradrouting">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="https://cargorocket.de/assets/images/cargorocket_social_media_banner.png">
    <meta property="og:url" content="https://cargorocket.de/{{ page.url }}">
    <meta property="og:site_name" content="Cargorocket - Lastenradrouting">
    <meta name="twitter:card" content="https://cargorocket.de/assets/images/cargorocket_social_media_banner.png">
    <meta name="twitter:image:alt" content="Cargorocket - Lastenradrouting">
    <meta name="twitter:site" content="@cargo_rocket">
    <!-- / Sozial Media -->

    <!-- SEO -->
    <meta name="keywords" content="lastenrad,routing,cargobike,kurrierdienst,app">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="German">
    <meta name="revisit-after" content="5 days">
    <meta http-equiv="content-language" content="de">
    <!-- /SEO -->
</head>