<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/page.css?{{ site.time | date: '%s%N' }}">
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="alternate" type="application/atom+xml" title="CargoRocket Atom Feed" href="/feed.xml" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Alexandra Kapp, David Prenninger, Henri Chilla">
    <meta name="theme-color" content="#f4a261">

    <!-- Social Media -->
    <meta property="og:title" content="CargoRocket - Lastenradrouting">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:url" content="https://cargorocket.de{{ page.url }}">
    <meta property="og:site_name" content="CargoRocket - Lastenradrouting">
    {% if page.socialmedia-banner %}
    <meta property="og:image" content="https://cargorocket.de/assets/images/{{ page.socialmedia-banner }}">
    <meta name="twitter:card" content="https://cargorocket.de/assets/images/{{ page.socialmedia-banner }}">
    {% else %}
    <meta property="og:image" content="https://cargorocket.de/assets/images/cargorocket_social_media_banner.png">
    <meta name="twitter:card" content="https://cargorocket.de/assets/images/cargorocket_social_media_banner.png">
    {% endif %}
    <meta name="twitter:image:alt" content="CargoRocket - Lastenradrouting">
    <meta name="twitter:site" content="@cargo_rocket">
    <!-- / Sozial Media -->

    <!-- SEO -->
    <meta name="keywords" content="lastenrad,routing,cargobike,kurrierdienst,app">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="German">
    <meta name="revisit-after" content="5 days">
    <meta http-equiv="content-language" content="de">
    <!-- /SEO -->

    {% if page.show-map %}
    <!-- Map related -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.13.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.13.1/mapbox-gl.js"></script>
    <!-- / Map related -->
    {% endif %}
</head>