@import "variables";

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    color: $text-color;
}

p {
    font-family: 'Roboto';
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
}

section,
article,
main {
    padding: $space-lg $space-slg;

    @media screen and (max-width: $breakpoint-md){
        padding: $space-md $space-lg;
    }
}

::selection {
    background-color: $primary-color;
    color: white;
}