.headline {
    font-size: $font-lg;

    &.big {
        font-size: $font-xxl;

        @media screen and (max-width: $breakpoint-sm) {
            font-size: $font-slg;
        }
    }

    &.small {
        font-size: $font-md;
    }
}

.flex {
    display: flex;

    &.vertical {
        flex-direction: column;
    }

    &.space {
        justify-content: space-around;
    }

    &.c {
        justify-content: center;
    }

    &.vertical-c {
        align-items: center;
    }

    &.mobile-v {
        @media screen and (max-width: $breakpoint-lg) {
            flex-direction: column;
        }
    }
}

.no-flex-mobile {
    @media screen and (max-width: $breakpoint-sm) {
        display: block;
    }
}

.c {
    text-align: center;
}

.b {
    font-weight: bold;
}

/* Normalize links */
a.n {
    text-decoration: none;
    color: inherit;

    &:active,
    &:visited,
    &:hover {
        color: inherit;
        text-decoration: underline;
    }
}

.button {
    background-color: $primary-color;
    padding: 0.2rem;
    margin: 1rem;
    display: inline-block;
    text-decoration: none;
    border-radius: 2rem;

    &.big {
        padding: 0.6rem 1.3rem;
        font-size: 1.3rem;
    }
    
    &.primary,
    &.primary:visited,
    &.primary:active {
        background-color: $primary-color;
        border: 3px solid $primary-color;
        color: white;
    }

    &.primary:hover {
        border: 3px solid darken($primary-color, 20%);
    }

    &.secondary,
    &.secondary:visited,
    &.secondary:active {
        background-color: $secondary-color;
        border: 3px solid $secondary-color;
        color: white;
    }
    
    &.secondary:hover {
        border: 3px solid darken($secondary-color, 20%);
    }
}

.icon {
    &.md {
        height: $font-lg;
    }
}

.bebas {
    font-family: 'Bebas Neue';
}

.roboto {
    font-family: 'Roboto';
}

.container {
    max-width: 100%;
}

.round {
    border-radius: 50%;
}

img.portrait {
    object-fit: cover;

    width: $portrait-size;
    height: $portrait-size;

    &.big {
        width: $portrait-size * 2;
        height: $portrait-size * 2;
    }

    &.small {
        width: $portrait-size / 2;
        height: $portrait-size / 2;
    }
}

img.sponsor {
    width: 50%;
    @media screen and (min-width: $breakpoint-sm){
        width: 30%;   
    }
}

img.border {
    border: 2px solid white;
}

figcaption {
    &.big {
        font-size: 140%;
    }
}

@each $size, $i in $general-sizes {
    img.size-#{$size}{
        width: $i * 6;
        height: $i * 6;
        min-width: $i * 6;
        min-height: $i * 6;
        background-size: cover;
    }
}

p, span {
    &.small {
        font-size: 0.8rem;
    }

    &.big {
        font-size: 1.5rem;
    }

    &.xxl {
        font-size: 2rem;
    }
}

.flex {
    .half {
        @media screen and (min-width: $breakpoint-lg){
            width: 50%;   
        }
    }

    .third {
        @media screen and (min-width: $breakpoint-lg){
            width: 33.3%;   
        }
    }
}

img.float {
    &.left {
        float: left;
        margin: 1rem 2rem 1rem 0rem;
    }
    &.right {
        float: right;
        margin: 1rem 0rem 1rem 2rem;
    }
}
@media screen and (max-width: $breakpoint-sm){
    img.float {
        display: block;

        &.left {
            float: none;
            margin: 1rem auto 1rem auto;
        }
        &.right {
            float: none;
            margin: 1rem auto 1rem auto;
        }
    }
}
