@import "variables";

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: auto;
}

#hero {
    .present {
        background-image: url("../../assets/images/present-bg.svg");
        background-repeat: no-repeat;
        background-size: 95%;
        background-position: center;
        padding: 0 3rem;

        @media screen and (min-width: $breakpoint-lg){
            max-width: 80%;
        }

        @media screen and (max-width: $breakpoint-lg){
            margin-left: -50%;
            max-height: 20rem;

            img {
                max-height: 20rem;
            }
        }

        @media screen and (max-width: $breakpoint-sm){
            display: none;

            img {
                display: none;
            }
        }
    }
}

section#team {
    background-color: $primary-color;
    color: white;

    ::selection {
        background-color: $secondary-color;
    }
}

section#project {
    background-color: $secondary-color;
    color: white;

    ::selection {
        background-color: $primary-color;
    }
}

section#contact {
    background-color: $primary-color;
    color: white;

    ::selection {
        background-color: $secondary-color;
    }
}

article {
    h1 {
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }

    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .article-infos {
        margin-top: 0.1rem;
        margin-bottom: 1.5rem;
    }
}

footer {
    height: 4rem;
    color: $primary-color;

    a,
    a:hover,
    a:visited,
    a:active {
        color: $primary-color;
    }
}

.blog-image {
    height: 300px;
    max-width: 100%;
}

blockquote {
    color: rgb(56, 56, 56);
    background-color: rgb(235, 235, 235);
    font-style: italic;
    padding: 1rem;
    margin: 1rem;

    p {
        margin: 0;
    }
}