@import "variables";

section {
    padding: $space-slg;

    @media screen and (max-width: $breakpoint-md){
        padding: $space-lg;
    }
}

.content {
    max-width: 900px;
    margin: auto;
}

#hero {
    .present {
        background-image: url("../../assets/images/present-bg.svg");
        background-repeat: no-repeat;
        background-size: contain;
        padding: 0 2rem;

        img {
            max-width: 100%;
        }

        @media screen and (min-width: $breakpoint-lg){
            max-width: 80%;
        }

        @media screen and (max-width: $breakpoint-lg){
            margin-left: -50%;
            max-height: 20rem;

            img {
                max-height: 20rem;
            }
        }

        @media screen and (max-width: $breakpoint-sm){
            display: none;

            img {
                display: none;
            }
        }
    }
}

section#team {
    background-color: $primary-color;
    color: white;

    ::selection {
        background-color: $secondary-color;
    }
}

section#project {
    background-color: $secondary-color;
    color: white;

    ::selection {
        background-color: $primary-color;
    }
}