@import "variables";

section {
    padding: $space-slg;

    @media screen and (max-width: $breakpoint-md){
        padding: $space-lg;
    }
}

.content {
    max-width: 900px;
    margin: auto;
}

#hero {
    .present {
        background-image: url("../../assets/images/present-bg.svg");
        background-repeat: no-repeat;
        background-size: contain;

        img {
            max-width: 100%;
        }

        @media screen and (max-width: $breakpoint-sm){
            height: 20%;
        }
    }
}

section#team {
    background-color: $primary-color;
    color: white;

    ::selection {
        background-color: $secondary-color;
    }
}

section#project {
    background-color: $secondary-color;
    color: white;

    ::selection {
        background-color: $primary-color;
    }
}