@import "variables";
.first-line {
    display: flex;
    justify-content: space-around;

    .logo a {
        color: black;

        &:active,
        &:visited,
        &:hover {
            color: black;
        }
    }
}

nav {
    align-self: center;

    ul {
        list-style: none;
        padding: 0;

        li {
            display: inline-block;
            margin: 0 $space-md 0 0;

            &.no-mobile {
                @media screen and (max-width: $breakpoint-md) {
                    display: none;
                }
            }

            a {
                color: $primary-color;
                text-decoration: none;
                font-size: $font-md;
                font-family: "Roboto";

                &:hover {
                    color: darken($primary-color, 20%);
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-md) {
    .first-line {
        flex-direction: column;

        .logo {
            margin: auto;
        }
    }
}