@import "variables";
.first-line {
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 4px 4px aliceblue;
    height: 70px;

    .logo-bg {
        background-image: url('/assets/images/cargorocket-logo.png');
        display: inline-block;
        width: 80px;
        height: 45px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @media screen and (max-width: $breakpoint-md) {
            background-image: url('/assets/images/iconLogo_alt.svg');
        }
    }

    .logo a {
        color: black;

        &:active,
        &:visited,
        &:hover {
            color: black;
        }

    }
    .logo .subpage_title {
        margin-left: 1rem;

        @media screen and (max-width: $breakpoint-lg) {
            display: none;
        }
    }

    @media screen and (max-width: $breakpoint-lg) {
        justify-content: center;
    }
}

nav {
    align-self: center;

    ul {
        list-style: none;
        padding: 0;

        li {
            display: inline-block;
            margin: 0 $space-md 0 0;

            &.no-mobile {
                @media screen and (max-width: $breakpoint-md) {
                    display: none;
                }
            }

            a {
                color: $primary-color;
                text-decoration: none;
                font-size: $font-md;
                font-family: "Roboto";

                &:hover {
                    color: darken($primary-color, 20%);
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-md) {
    .first-line {
        justify-content: center;
    }
}