$primary-color: #2A9D8F;
$secondary-color: #F4A261;
$portrait-size: 150px;

$space-slg: 64px;
$space-lg: 32px;
$space-md: 16px;
$space-sm:  8px;

$font-slg: 4rem;
$font-lg: 2rem;
$font-md: 1.5rem;
$font-sm: 1rem;