$primary-color: #2A9D8F;
$secondary-color: #F4A261;
$portrait-size: 150px;

$breakpoint-md: 750px;
$breakpoint-sm: 500px;

$space-slg: 4rem;
$space-lg: 2rem;
$space-md: 1rem;
$space-sm:  0.5rem;

$font-slg: 4rem;
$font-lg: 2rem;
$font-md: 1.5rem;
$font-sm: 1rem;