---
---
@import "base";
@import "variables";
@import "elements";
@import "navigation";
@import "ranking";
@import "home";
@import "spaces";
@import "map";

.logo {
    width: 120px;
    margin: 0 0.4rem;

    @media screen and (max-width: $breakpoint-sm) {
        width: 50px;
    }
}