---
layout: default
---

{{ content }}

{% assign posts = site.posts %}
{%- if posts.size > 0 -%}
<main id="blog">
    <div class="content">
        <img class="blog-image" alt="Girl on cargo bike" src="/assets/images/cargo_bike.svg"/>
        <h1 class="headline bebas c">{{ page.blog.headline }}</h1>

        <div class="blog-entries mobile-v">
            {%- for post in posts -%}
            <div class="flex">
                {% if post.image %}<img class="size-md pd-t-md" src="{{ post.image }}" />{% endif %}
                <div class="pd-l-md">
                    <h2 class="bebas big"><a class="n" href="{{ post.url | relative_url }}"">{{ post.date | date_to_string }} - {{ post.title | escape }}</a></h2>
                    {%- if site.show_excerpts -%}
                    <p>{{ post.excerpt }}</p>
                    {%- endif -%}
                    <span class="post-meta">{{ page.date | date_to_string }}</span>
                </div>
            </div>
            {%- endfor -%}
        </div>
    </div>
</main>
{%- endif -%}