<!doctype html>
<html lang="de">

    {%- include head.html -%}

    <body>
        <header>
            <div class="first-line">
                <span class="logo flex vertical-c c">
                    <a href="/"><span title="CargoRocket" class="logo-bg"></span></a>
                    {% if page.subpage-title %}{% assign subpage-title = page.subpage-title  %}{% endif %}
                    {% if layout.subpage-title %}{% assign subpage-title = layout.subpage-title  %}{% endif %}
                    {% if subpage-title %}<span class="subpage_title bebas xxl"><a href="/blog">{{ subpage-title }}</a></span>{% endif %}
                </span>
                <nav>
                    <ul>
                        <li class="no-mobile"><a href="/#team">Team</a></li>
                        <li class="no-mobile"><a href="/#project">Projekt</a></li>
                        <li class="no-mobile"><a href="/#contact">Kontakt</a></li>
                        <!--<li><a href="/cargobikeindex">Karte</a></li>-->
                        <li><a href="/ranking">Mapathon</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        {% if page.hero %}
        <section id="hero">
            <div class="flex c mobile-v">
                <div class="present">
                    <img src="/assets/images/{{ page.present-img }}"/>
                </div>
                <div class="flex vertical c">
                    <div class="headline big bebas c">{{ page.main-headline }}</div>
                    <div class="headline small roboto c">{{ page.second-headline }}</div>
                    <!-- <a href="/blog" class="button primary big bebas">{{ page.main-button }}</a> -->
                </div>
            </div>
        </section>
        {% endif %}

        {{ content }}

        {%- include footer.html -%}
    </body>
</html>