<!doctype html>
<html lang="de">

    {%- include head.html -%}

    <body>
        <header>
            <div class="first-line">
                <span class="logo flex vertical-c c">
                    <a href="/" ><img src="/assets/images/cargorocket-logo.svg" class="logo" /></a>
                    {% if page.subpage-title %}{% assign subpage-title = page.subpage-title  %}{% endif %}
                    {% if layout.subpage-title %}{% assign subpage-title = layout.subpage-title  %}{% endif %}
                    {% if subpage-title %}<span class="bebas xxl"><a href="/blog">{{ subpage-title }}</a></span>{% endif %}
                </span>
                <nav>
                    <ul>
                        <li><a href="/#team">Team</a></li>
                        <li><a href="/#project">Projekt</a></li>
                        <li><a href="/#contact">Kontakt</a></li>
                        <li><a href="/ranking">Mapathon</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        {% if page.hero %}
        <section id="hero">
            <div class="flex c">
                <div class="present">
                    <img src="/assets/images/{{ page.present-img }}"/>
                </div>
                <div class="flex vertical c">
                    <div class="headline big bebas c">{{ page.main-headline }}</div>
                    <div class="headline small roboto c">{{ page.second-headline }}</div>
                    <!-- <a href="/blog" class="button primary big bebas">{{ page.main-button }}</a> -->
                </div>
            </div>
        </section>
        {% endif %}

        {{ content }}

        {%- include footer.html -%}
    </body>
</html>