<!doctype html>
<html lang="de">

<head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="../assets/css/page.css">
    <link rel="icon" href="/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Alexandra Kapp, David Prenninger, Henri Chilla">
    <meta http-equiv="content-language" content="de">
    <meta charset="utf-8">
</head>

<body>
    <header>
        <img src="../assets/images/{{ page.logo }}" class="logo" />
        <nav>
            <ul>
                <li></li>
            </ul>
        </nav>

        <div>

        </div>
        <div>
            <h1>{{ page.main-headline }}</h1>
            <h1>{{ page.second-headline }}</h1>
            <a href="/blog">{{ page.main-button }}</a>
        </div>
    </header>

    <section class="team">
        <p>{{page.team.description }}</p>

        <div class="members">
            {% for member in page.team.members %}
                <img class="member" src="../assets/images/{{ member.img }}" />
                <p>{{ member.skills }}</p>
            {% endfor %}
        </div>
    </section>
    
    <section class="project">
    </section>
    
    <section class="blog">
    </section>
    
    <section class="contact">
    </section>

    <footer>

    </footer>

    <script src="js/projects.js"></script>
</body>

</html>