---
layout: default
---
<section id="team">
    <div class="content">
        <h1 class="headline c bebas">{{ page.team.headline }}</h1>
        <p>{{page.team.description }}</p>

        <div class="members flex c mobile-v">
            {% for member in page.team.members %}
            <div class="c">
                <figure>
                    <img src="../assets/images/{{ member.img }}" class="portrait round border" />
                    <figcaption class="b bebas big">{{ member.name }}</figcaption>
                </figure>
                <p>{{ member.skills }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="project">
    <div class="content">
        <h1 class="headline c bebas">{{ page.project.headline }}</h1>

        <p>{{page.team.description }}</p>

        <div class="products flex mobile-v">
            {% for product in page.project.products %}
            <div class="c">
                <figure>
                    {% if product.img %}
                    <img class="product" src="../assets/images/{{ product.img }}" />
                    {% endif %}
                    <figcaption class="bebas b c big">{{ product.name }}</figcaption>
                </figure>
                <p>{{ product.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% assign posts = site.posts %}
{%- if posts.size > 0 -%}
<section id="blog">
    <div class="content">
        <h1 class="headline bebas c">{{ page.blog.headline }}</h1>
        <div class="blog-entries mobile-v">
            {%- for post in posts -%}
            <div class="flex">
                <img class="size-md" src="https://picsum.photos/120/180" />
                <div class="pd-l-md">
                    <h2 class="bebas big"><a class="n" href="{{ post.url | relative_url }}"">{{ post.title | escape }}</a></h2>
                    {%- if site.show_excerpts -%}
                    <p>{{ post.excerpt }}</p>
                    {%- endif -%}
                    <span class="post-meta">{{ page.date | date_to_string }}</span>
                </div>
            </div>
            {%- endfor -%}
        </div>
        <div class="c">
            <a href="/blog" class="button secondary big bebas">{{ page.main-button }}</a>
        </div>
    </div>
</section>
{%- endif -%}

<section id="contact">
    <div class="content c">
        <h1 class="headline bebas">{{ page.contact.headline }}</h1>
        <div class="flex mobile-v">
            <div class="pd-md">
                <img src="../assets/icons/{{ page.contact.contact-icon }}" height="40" />
                <p>{{ page.contact.contactText }}</p>
                <a class="bebas big n" href="mailto:{{ page.contact.email }}">{{ page.contact.email }}</a>
            </div>
            <div class="pd-md">
                <img src="../assets/icons/{{ page.contact.twitter-icon }}" height="40" />
                <p>Wir sind auf Twitter!</p>
                <a class="bebas big n" href="https://twitter.com/{{ page.contact.twitter }}">{{ page.contact.twitter
                    }}</a>
            </div>
        </div>
    </div>
</section>

<section id="funding">
    <div class="content">
        <h1 class="headline c bebas">{{ page.funding.headline }}</h1>

        <p class="c">Das Projekt CargoRocket wird vom Verkehrsministerium Baden-Württemberg gefördert im Rahmen einer Anschlussförderung des Hackathon “MobiDataBW Hackathon 2020”.</p>

        <div>
            <img />
            <img />
        </div>
    </div>
</section>

